.wrapper-input {

    display: flex;
    flex-direction: column;

    &__label {
        color: var(--neutral-default-n-9);
        /* Body 12 Medium */
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        margin-bottom: 4px;
    }
}


.file-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    max-height: 100px;
    border-radius: 8px;
    border: 1px solid var(--neutral-default-n-6, #CCC);
    background-color: var(--neutral-default-n-0, #FFF);

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 4px 0 4px 16px;
        overflow-y: auto;
        align-items: center;

        &-item {
            margin: 2px;
        }

        &-placeholder {
            box-sizing: content-box;
            display: flex;
            align-items: center;
            text-align: center;
            flex: 1 0 0;
            align-self: stretch;
            overflow: hidden;
            color: var(--neutral-default-n-6);
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }

    &__button {
        padding: 10px;
        display: flex;
        justify-content: flex-start;
    }

}

.file-input-upload {
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    font-size: 100px;
    opacity: 0;
    cursor: pointer;
}

#wrapper-input-height {
    height: 52px;
    box-sizing: border-box;
}