.text-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    box-sizing: content-box;
    border: none;
    min-width: 0;
    max-width: max-content;

    &__text {
        &-size {
            &-giant {
                color: var(--neutral-default-n-12);
                font-family: Inter;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 38px;
                letter-spacing: 0.048px;
                cursor: pointer;
                text-decoration-line: underline;
            }

            &-large {
                color: var(--neutral-default-n-12);
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 38px;
                letter-spacing: 0.048px;
                cursor: pointer;
                text-decoration-line: underline;
            }

            &-medium {
                color: var(--neutral-default-n-12);
                // font-weight: 700;
                // line-height: 38px;
                // letter-spacing: 0.048px;
                font-family: "Inter";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                cursor: pointer;
                text-decoration-line: underline;
            }

            &-small {
                color: var(--neutral-default-n-12);
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 38px;
                letter-spacing: 0.048px;
                cursor: pointer;
                text-decoration-line: underline;
            }

        }
        &[disabled] {
            cursor: default;
            text-decoration: none;
        }
    }
}